body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.topbar span{
  padding:5px 12px;
  float:right;
}
.topbar{
  height: 32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

@-webkit-keyframes slide {
  0% {
    left: 0%;
  }
 
  50% {
    left: 100%;
  }

  100% {
    left: 0%;
  }
}

.moonwalk {
  -webkit-animation-duration: 3s;
  -webkit-animation-name: slide;
} 

.backAndForther {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#lightbox {
  background-color: black;
  width: 20%;
  height: 20%;
  position: absolute;
  top: 40%;
  left: 45%;
  display: none;
}

#lightboxButton {

}