body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: white;
}
.topbar span{
  padding:5px 12px;
  float:right;
}
.topbar{
  height: 32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.blinkyDancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

/*
@-webkit-keyframes slide {
  0% {
    left: 0%;
  }
 
  100% {
    left: 100%;
  }

}

.moonwalk {
  -webkit-animation-duration: 1.5s;
  -webkit-animation-name: slide;
} 

.backAndForther {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
*/
.stuff {
  z-index: 1;
}

a {
  text-decoration: none;
}
