body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}

@-webkit-keyframes pulse {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes pulse {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes pulse {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes pulse {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes spin {
  from   { -webkit-transform: rotate(0deg);
           transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg);
    transform: rotate(360deg); }
}
@-moz-keyframes spin {
  from   { -webkit-transform: rotate(0deg);
          transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg);
    transform: rotate(360deg); }
}
@-o-keyframes spin {
  from   { -webkit-transform: rotate(0deg);
          transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg);
    transform: rotate(360deg); }
}
@keyframes spin {
  from   { -webkit-transform: rotate(0deg)
          transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg);
    transform: rotate(360deg); }
}

.topbar span{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
span.square{
  border-radius: 0;
  background-color: yellow;
  border: 10px solid yellow;
  -webkit-animation: spin 0.5s infinite; /* Safari 4+ */
  -moz-animation:    spin 0.5s infinite; /* Fx 5+ */
  -o-animation:      spin 0.5s infinite; /* Opera 12+ */
  animation:         spin 0.5s infinite;
}

.test {
  width: 100px;
  height: 50px;
  background-color: white;
  margin: 0 auto;
}

.flame {
  font-size: 99px;
  width: 75%;
  margin: 20% auto;
  text-align: center;
  -webkit-animation: pulse 2s infinite; /* Safari 4+ */
  -moz-animation:    pulse 2s infinite; /* Fx 5+ */
  -o-animation:      pulse 2s infinite; /* Opera 12+ */
  animation:         pulse 2s infinite;
}

.burn {
border: none;
height: 100px;
}

.left {
  position: fixed;
  left: 0
  margin-left: 0;
  float: left;
}