@-webkit-keyframes fadeInOut {
  0%   { opacity: 0.2; }
  100% { opacity: 1; }
}
@-moz-keyframes fadeInOut {
  0%   { opacity: 0.2; }
  100% { opacity: 1; }
}
@-o-keyframes fadeInOut {
  0%   { opacity: 0.2; }
  100% { opacity: 1; }
}
@keyframes fadeInOut {
  0%   { opacity: 0.2; }
  100% { opacity: 1; }
}


@-webkit-keyframes rotate {
  0%   { -webkit-transform: rotate(30deg); }
  50% { -webkit-transform: rotate(-30deg); }
  100%   { -webkit-transform: rotate(30deg); }
}
@-moz-keyframes rotate {
  0%   { -webkit-transform: rotate(30deg); }
  50% { -webkit-transform: rotate(-30deg); }
  100%   { -webkit-transform: rotate(30deg); }
}
@-o-keyframes rotate {
  0%   { -webkit-transform: rotate(30deg); }
  50% { -webkit-transform: rotate(-30deg); }
  100%   { -webkit-transform: rotate(30deg); }
}
@keyframes rotate {
  0%   { -webkit-transform: rotate(30deg); }
  50% { -webkit-transform: rotate(-30deg); }
  100%   { -webkit-transform: rotate(30deg); }
}


body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#252525;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.topbar span{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.blinky-dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.muffin-dancer{
  position:absolute;
  height: 20%;
  width: 20%;
}

.walking-dancer {
  position:absolute;
  height: 20%;
  width: 20%;
  -webkit-animation: fadeInOut 5s infinite; /* Safari 4+ */
  -moz-animation:    fadeInOut 5s infinite; /* Fx 5+ */
  -o-animation:      fadeInOut 5s infinite; /* Opera 12+ */
  animation:         fadeInOut 5s infinite; /* IE 10+ */
  -webkit-animation: rotate 2s infinite;
  /*-webkit-transform-origin: 60% 100%;*/

}