body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.topbar span{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.fadedindancer{
  border:30px solid yellow;
  position:absolute;
  border-radius: 1px;
}
.monster{
  background-image: url(img/monster.png);
  width: 200px;
  height:200px;
  border: none;
  background-repeat: no-repeat;
}
.ballet{
  background-image: url(img/ballet.png);
  width: 450px;
  height: 470px;
  border: none;
  background-repeat: no-repeat;
  background-size: cover;
}

.discoball{
  background-image: url(img/discoball.png);
  width: 100px;
  height: 100px;
  border: none;
  background-repeat: no-repeat;
  background-size: cover;
}

.mime{
  background-image: url(img/mime.png);
  width: 200px;
  height: 300px;
  border: none;
  background-repeat: no-repeat;
  background-size: cover;
}

.monkey{
  background-image: url(img/monkey.png); 
  width: 50px;
  height: 70px;
  border: none;
  background-repeat: no-repeat;
  background-size: 50px 70px;
/*  background: transparent;*/
}

.champagne{
  background-image: url(img/champagne.png);
  width: 50px;
  height: 200px;
  border: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 50px;  
}

