body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.topbar span{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.colorDancer{
  border-color: goldenrod;
}

#about {

}

#dialog {
  display: none;
  background-color: #666666;
  width: 200px;
  height: 200px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  padding: 2px;
  text-align: center;
  border: 1px solid gray;
  border-radius: 8px;
}
#titlebar{
  text-align: right;
}