body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:lightgray;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.topbar span{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.dancing-butt {
  border: 10px solid green;
  border-radius: 10px;
  left: 5px;
  position: relative;
}

.instructions {
  text-align: centered;
}

.snow-man {
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  border: 10px solid blue;
  border-radius: 30px;
}

.bulletParticle {
  width:20px;
  height:40px;
  background-color: blue;
  position: absolute;
  border-radius: 50px;
  /*display:none;*/

  animation:top-bottom-scroll .8s;
  -moz-animation:top-bottom-scroll .8s; /* Firefox */
  -webkit-animation:top-bottom-scroll .8s; /* Safari and Chrome */
  -webkit-animation-direction: normal;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}


@keyframes top-bottom-scroll
{
  
  0%   {bottom:55px;}
  100% {bottom:98%;}
}

@-moz-keyframes top-bottom-scroll /* Firefox */
{
  0%   {bottom:55px;}
  100% {bottom:98%;}
}

@-webkit-keyframes top-bottom-scroll /* Safari and Chrome */
{
  0%   {bottom:55px;}
  100% {bottom:98%;}

}

.triangle{
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 25px solid red;
  position:absolute;
  bottom: 40px;
  
  animation:bottom-scroll 5s;
  -moz-animation:bottom-scroll 5s; /* Firefox */
  -webkit-animation:bottom-scroll 5s; /* Safari and Chrome */
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
}


@keyframes bottom-scroll
{
  
  0%   {left:5%; bottom:40px;}
  /*25%  {left:200px; bottom:40px;}
  50%  {left:500px; bottom:40px;}
  75%  {left:860px; bottom:40px;}*/
  100% {left:90%; bottom:40px;}
}

@-moz-keyframes bottom-scroll /* Firefox */
{
  0%   {left:5%; bottom:40px;}
/*  25%  {left:200px; bottom:40px;}
  50%  {left:500px; bottom:40px;}
  75%  {left:860px; bottom:40px;}*/
  100% {left:90%; bottom:40px;}
}

@-webkit-keyframes bottom-scroll /* Safari and Chrome */
{
  0%   {left:5%; bottom:40px;}
/*  25%  {left:200px; bottom:40px;}
  50%  {left:500px; bottom:40px;}
  75%  {left:860px; bottom:40px;}*/
  100% {left:90%; bottom:40px;}
}



