body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}

#lightBox {
  display: none;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.75);
  position: absolute;
  z-index: 1;
}

#lightBoxContent {
  height: 50%;
  width: 50%;
  background-color: rgba(255,255,255,1.0);
  position: absolute;
  top: 25%;
  left: 25%;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 15px white;
  color: #272822;
  font-family: sans-serif;

}
#moshPit {
  position: absolute;
  top:500px;
  left: 500px;
  height: 250px;
  width: 250px;
  background-color: transparent;
}


.topbar span{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

