body, html {
  height:100%;
}
body {
  margin:0px;
  background-color:#444;
  font-size:18px;
}
body, a:link, a:visited, a:active {
  color: lightblue;
}
h4 {
  margin:0;
}
.topbar span {
  padding:5px 12px;
  float:right;
}
.topbar {
  height:32px;
  background-color:#555;
}
.title {
  background-color:#777;
}
.dancer {
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

/* Bears */
.pBear {
  background:url('img/cb-purple.gif') no-repeat;
  border:none;
  width:229px;
  height:350px;
}

.oBear {
  background:url('img/cb-orange.gif') no-repeat;
  border:none;
  width:279px;
  height:341px;
}

.gBear {
  background:url('img/cb-green.gif') no-repeat;
  border:none;
  width:318px;
  height:400px;
}

/* Lightbox styles */

.toggleLightbox {
  float:left !important;
}

.lightbox {
  display:none;
  z-index:1;
}

.lightbox-outer {
  position:absolute;
  top:0%;
  left:0%;
  height:100%;
  width:100%;
  padding-top:100px;
  background-color:rgba(0,0,0,0.50);
  z-index:2;
}

.lightbox-inner {
  width:380px;
  min-height:380px;
  max-height:500px;
  margin:0 auto;
  padding:10px;
  overflow:auto;
  border:1px solid gray;
  background-color:#333;
  z-index:3;
}

/* Reusable classes */
.center {
  text-align:center;
}
