body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:lightgray;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.topbar span{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.dancing-butt {
  border: 10px solid green;
  border-radius: 10px;
  left: 5px;
  position: relative;
}

.instructions {
  text-align: centered
}

.snow-man {
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  border: 10px solid blue;
  border-radius: 30px;
}

.triangle{
  width: 0; 
  height: 0; 
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 25px solid red;
  position:absolute;
  bottom: 0;
  margin: auto;
  bottom: 40px;
  left: 40%;
  right: 40%;
}